html, body {
  width: 100%;
  height: 100%;
  background: black !important;
  overflow: hidden;
}

.container {
  height: 100%;
}

div#layer1 {
  width: 100%;
  height: 100%;
  background: url("drbg/grid_bg.png");
  animation: animate-background-one linear reverse 6s infinite;
}

div#layer2 {
  width: 100%;
  height: 100%;
  background: url("drbg/grid_bg2.png");
  animation: animate-background-one linear 10s infinite;
}

@keyframes animate-background-one {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 128px 128px;
  }
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}