<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="../static/index.css" rel="stylesheet" th:href="@{index.css}">
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Will's Util</title>
</head>
<body>
<div id="layer2">
    <div id="layer1">
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">

                                <div class="mb-md-5 mt-md-4 pb-5">
                                    <h1>Разнообразное:</h1>
                                    <br/>
                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button aria-controls="pills-home" aria-selected="true"
                                                    class="nav-link active"
                                                    data-bs-target="#pills-home" data-bs-toggle="pill"
                                                    id="pills-home-tab" role="tab"
                                                    type="button">Общее
                                            </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button aria-controls="pills-profile" aria-selected="false"
                                                    class="nav-link"
                                                    data-bs-target="#pills-profile" data-bs-toggle="pill"
                                                    id="pills-profile-tab" role="tab"
                                                    type="button">ID
                                            </button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="pills-tabContent">
                                        <div aria-labelledby="pills-home-tab" class="tab-pane fade show active"
                                             id="pills-home" role="tabpanel">...
                                        </div>
                                        <div aria-labelledby="pills-profile-tab" class="tab-pane fade"
                                             id="pills-profile" role="tabpanel">
                                            <a class="btn btn-primary" href="/id/stacktraceparser"
                                               role="button">StackTrace parser</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>
