<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="../../static/id/stacktraceparser.css" rel="stylesheet"
          th:href="@{stacktraceparser.css}">
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Stacktrace parser</title>
    <script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.7.0.min.js"
            type="text/javascript"></script>
</head>
<body>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-300">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-10">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5 " data-bs-theme="dark">
                            <div class="form-group">
                                <label for="formInput">Крашлог сюды:</label>
                                <textarea class="form-control" id="formInput" rows="5"></textarea>
                            </div>
                            <br/>
                            <div class="form-group">
                                <label for="formOutput">Отсюды забираем:</label>
                                <textarea class="form-control" id="formOutput" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<script>

  document.addEventListener("DOMContentLoaded", function () {
    const formInput = document.getElementById("formInput");
    const formOutput = document.getElementById("formOutput");

    formInput.addEventListener("input", function () {
      const inputText = formInput.value;
      const processedText = processText(inputText);
      formOutput.innerText = processedText;
    });

    function processText(text) {
      text = text.replaceAll(/\\r\\n\\t|\\r\\n|\\n\\t|\\n/g, '\n');
      return text;
    }
  });
</script>
</html>
